.imgWrapper {
    position: relative;
    padding: 35px;

    img {
        width: 170px;
        border-radius: 3px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 70px;
        height: 70px;
        border-top: 8px solid var(--primary-color);
        border-left: 8px solid var(--primary-color);
        top: 0;
        left: 0;
    }

    &::after {
        content: '';
        position: absolute;
        width: 70px;
        height: 70px;
        border-bottom: 8px solid var(--primary-color);
        border-right: 8px solid var(--primary-color);
        bottom: 0;
        right: 0;
    }
}

@media screen and (min-width: 1200px) {
    .imgWrapper img {
        width: 200px;
    }
}