.serviceItem {
    width: 31%;
    // min-width: 270px;
    background-color: var(--secondary-bg-Color);
    padding: 25px 15px;
    text-align: center;
    border-radius: 10px;

    .iconWrapper {
        color: var(--primary-color);
        margin-bottom: 20px;
        display: flex;
        justify-content: center;

        svg {
            font-size: 40px;
        }

        .icon {
            width: 85px;
            height: 85px;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;

            &:hover {
                color: var(--primary-text-color);
                background-color: var(--primary-color);
                cursor: pointer;
            }
        }
    }

    .caption {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .description {
        line-height: 20px;
    }
}

@media only screen and (max-width: 870px) {
    .serviceItem {
        width: 47%;
    }
}

@media screen and (max-width: 480px) {
    .serviceItem {
        width: 100%;
    }
}